{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de presença</title>
    <link rel="stylesheet" href="{% static 'cadastro_presenca.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="faixada">
        <h1 class="title-pag">Registro de presença</h1>
        <div class="voltar_home">
            <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
            <p>Home</p>
        </div>
        <div class="icon-usu">
            <p>Nome de Usuário</p>
        </div>
    </header>

    <main>

        <div class="edit-table">
            <table>
                <tr>
                    <th colspan="25" class="edit-titulo-coluna">SISTEMA DE REGISTRO DE PRESENÇA</th>
                </tr>
                <tr>
                    <td class="linha-direita linha-baixo tamanho-matricula">Matricula</td>
                    <td class="linha-direita linha-baixo tamanho-disciplina">Disciplina</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo">06/06</td>
                    <td class="linha-direita linha-baixo border-none">06/06</td>
                </tr>
                <tr>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td><input type="radio" ></td>
                </tr>
                <tr class="cor-fundo">
                    <td class="linha-direita"></td>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td><input type="radio" ></td>
                </tr>
                <tr>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td><input type="radio" ></td>
                <tr class="cor-fundo">
                    <td class="linha-direita"></td>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td><input type="radio" ></td>
                </tr>
                <tr>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td><input type="radio" ></td>
                </tr>
                <tr class="cor-fundo">
                    <td class="linha-direita"></td>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td><input type="radio" ></td>
                <tr>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td class="linha-direita"><input type="radio" ></td>
                    <td><input type="radio"></td>
                </tr>
            </table>
        </div>

        <div style="display: flex;justify-content: space-around;">
            <button value="SALVAR" class="button-format" type="submit">SALVAR</button>
        </div>
    </main>

</body>
</html>