{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cadastro_nota.css' %}">
    <title>Registro de notas</title>
</head>
<body>
    <header class="faixada">
         <h1 class="title-pag">Registro de notas</h1>
         <div class="icon-usu">
         <p>Nome de Usuário</p>
         </div>
    </header>

    <main>

        <div class="edit-table">
        <table>
            <tr>
                <th colspan="8" class="edit-titulo-coluna">SISTEMA DE REGISTRO DE NOTAS</th>
            </tr>
            <tr>
                <td class="linha-direita linha-baixo tamanho-matricula">Matricula</td>
                <td class="linha-direita linha-baixo tamanho-disciplina">Disciplina</td>
                <td class="linha-direita linha-baixo">Nota 1</td>
                <td class="linha-direita linha-baixo">Nota 2</td>
                <td class="linha-direita linha-baixo">Nota 3</td>
                <td class="linha-direita linha-baixo">Nota 4</td>
                <td class="linha-direita linha-baixo">Nota final</td>
                <td class="linha-direita linha-baixo tamanho-aprovreprovad">aprov / reprov</td>
            </tr>
            <tr>
                <td class="linha-direita"></td>
                <td class="linha-direita"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td><input type="text" class="espaço-nota"></td>
            </tr>
            <tr class="cor-fundo">
                <td class="linha-direita"></td>
                <td class="linha-direita"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td><input type="text" class="espaço-nota"></td>
            </tr>
            <tr>
                <td class="linha-direita"></td>
                <td class="linha-direita"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td><input type="text" class="espaço-nota"></td>
            </tr>
            <tr class="cor-fundo">
                <td class="linha-direita"></td>
                <td class="linha-direita"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td><input type="text" class="espaço-nota"></td>
            </tr>
            <tr>
                <td class="linha-direita"></td>
                <td class="linha-direita"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td><input type="text" class="espaço-nota"></td>
            </tr>
            <tr class="cor-fundo">
                <td class="linha-direita"></td>
                <td class="linha-direita"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td><input type="text" class="espaço-nota"></td>
            </tr>
            <tr>
                <td class="linha-direita"></td>
                <td class="linha-direita"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td class="linha-direita"><input type="text" class="espaço-nota"></td>
                <td><input type="text" class="espaço-nota"></td>
            </tr>
        </table>
        </div>

        <div style="display: flex;justify-content: space-around;">
            <input type="button" value="Salvar" class="button-format">
            <input type="button" value="Voltar" class="button-format">
        </div>
    </main>

</body>
</html>
