{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\PICHAU\Desktop\li\CSS\controle.css">
    <title>Controle de Alunos</title>
    <link rel="stylesheet" href="{% static 'controle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="faixada">
        <h1 class="title-pag">Controle de Alunos</h1>
        <div class="icon-usu">
            <p>Nome de Usuário</p>
        </div>
    </header>

    <main>
        <div class="cabecalho">
            <form action="{% url 'busca' %}">
                <input name="busca_aluno" type="search" placeholder="Pesquisar por Matrícula" class="edit-input-pesq">
                <button class="btn-pesquisar" type="submit">Buscar</button>
            </form>


            {% if request.GET.busca_aluno %}
            {%else%}
            <form class="turma_form">
                <h3>Turma</h3>
                <select class="combo-box" onchange="redirectToTurmas(this)">
                    <option value="opcao1">Selecione Turma</option>
                    {% for turma in turmas %}
                    <option value="{{ turma.id }}">{{ turma.nome_turma }}</option>
                    {% endfor %}
                </select>
            </form>
            {%endif%}
        </div>

        <div class="edit-table">
        <table>
            <tr>
                <td class="none"></td>
                <th class="edit-titulo-coluna">Matricula</th>
                <th class="edit-titulo-coluna">Nome do aluno</th>
                <th class="edit-titulo-coluna">Email</th>
                <th class="edit-titulo-coluna">Telefone</th>
                <th class="edit-titulo-coluna">Turma</th>
            </tr>
            {% if aluno %}
                <tr>
                    <td class="none"><input type="checkbox" name="aluno_selecionado" value="{{ aluno.numero_matricula }}"></td>
                    <td>{{aluno.numero_matricula}}</td>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.telefone}}</td>
                    <td></td>
                </tr>
            {% else %}
                {% for aluno in alunos %}
                <tr>
                    <td class="none"><input type="checkbox" ></td>
                    <td>{{aluno.numero_matricula}}</td>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.telefone}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        
        </table>

        <div style="margin: 30px 60px">
        <input type="button" value="1" class="button-select">
        <input type="button" value="2" class="button-select">
        <input type="button" value="3" class="button-select">
        <input type="button" value="4" class="button-select">
        <input type="button" value="5" class="button-select">
        </div>
        </div>

        <form style="display: flex;justify-content: space-around;">
            {% if request.GET.busca_aluno %}
                <a type="button" class="fa-solid fa-user-plus" href="{% url 'cadastro_nota' numero_matricula=aluno.numero_matricula %}?{{ request.GET.urlencode }}">Notas</a>
                <a type="button" class="fa-solid fa-user-plus" href="{% url 'home_frequencia' %}">Frequência</a>
                <a type="button" class="fa-solid fa-user-plus" href="{% url 'editar_aluno' numero_matricula=aluno.numero_matricula %}?{{ request.GET.urlencode }}%}">Editar Aluno</a>

            {% else %}
                <a type="button" class="fa-solid fa-user-plus" href="{% url 'adicionar' %}">Cadastro Aluno</a>

            {% endif %}

        </form>
    </main>

</body>
</html>
