{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\PICHAU\Desktop\li\CSS\controle.css">
    <title>Controle de Alunos</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="faixada">
        <h1 class="title-pag">Controle de Alunos</h1>
        <div class="icon-usu">
            <p>Nome de Usuário</p>
        </div>
    </header>

    <main>
        <form action="{% url 'busca' %}">
            <input name="busca_aluno" type="search" placeholder="Pesquisar por Matrícula" class="edit-input-pesq">
            <button class="btn-pesquisar" type="submit">Buscar</button>
        </form>

        <div class="edit-table">
            <table>
                <tr>
                    <td class="none"></td>
                    <th class="edit-titulo-coluna">Matricula</th>
                    <th class="edit-titulo-coluna">Nome do aluno</th>
                    <th class="edit-titulo-coluna">Email</th>
                    <th class="edit-titulo-coluna">Telefone</th>
                    <th class="edit-titulo-coluna">Turma</th>
                </tr>
                {% if aluno %} 
                <tr>
                    <td class="none"><input type="checkbox" ></td>
                    <td>{{aluno.numero_matricula}}</td>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.telefone}}</td>
                    <td></td>
                </tr>
                {% else %}
                    {% for aluno in alunos %}
                    <tr>
                        <td class="none"><input type="checkbox" ></td>
                        <td>{{aluno.numero_matricula}}</td>
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.telefone}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="none"><input type="checkbox" ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="none"><input type="checkbox" ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="none"><input type="checkbox" ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            </table>

            <div class="proximas-paginas">
                <input type="button" value="1" class="button-select">
                <input type="button" value="2" class="button-select">
                <input type="button" value="3" class="button-select">
                <input type="button" value="4" class="button-select">
                <input type="button" value="5" class="button-select">
            </div>
        </div>

        <div class="button-format">
            <a href="{% url 'home_nota' %}"><i class="fa-solid fa-user-plus"></i> Notas</a>
            <a href="{% url 'home_frequencia' %}"><i class="fa-solid fa-user-plus"></i> Frequências</a>
            <a href="{% url 'adicionar' %}"><i class="fa-solid fa-user-plus"></i> Cadastrar Alunos</a>
        </div>
    </main>

</body>
</html>
