*{
    border: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.faixada{
    display: flex;
    align-items: center;
    width: auto;
    height: 80px;
    background-color: #075677;
    box-shadow: 0px -15px 50px 20px;
}

.title-pag{
    color: #ffffff;
    padding: 20px;
}

.icon-usu{    
    position: absolute;
    right: 20px;
    background: #ffffff;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0px 6px 20px;
}

.edit-input-pesq{
    margin: 30px 50px auto 100px;
    border: #04a2f0 2px solid;
    border-style: dotted;
    border-radius: 40px;
    font-size: 25px;
    padding: 10px 200px 10px 25px;
}

table{    
    width: 100%;
    height: 500px;
    margin: 0px;
    border-collapse: collapse;
    text-align: center;
}

.edit-table{
    border: #04a2f0 3px solid;
    width: 95%;
    margin: 20px auto;
    border-radius: 40px;
}


.edit-titulo-coluna{
    color: #ffffff;
    background: #075677;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 35px 35px 0px 0px;
}


.linha-direita {
    border-right: 2px solid #04a2f0;
    border-collapse: collapse;
}

.linha-baixo {
    border-bottom: 2px solid #04a2f0;
    border-collapse: collapse;
}

.none{
    border: none
}

.button-select{
    color: #ffffff;
    background: #04a2f0;
    padding: 12px;
    font-size: 20px;
    border-radius: 12px;
}

.button-format{ 
    font-size: 20px;
    padding: 25px 65px;
    color: #ffffff;
    box-shadow: 0px 2px 5px;
    background: #075677;
}

.cor-fundo{
   background:#d9d9d9;
}

.tamanho-matricula{
    width: 200px;
}

.tamanho-disciplina{
    width: 360px;
}

.border-none{
    border-right: none;
}

.tamanho-data{
    width: 1000px;
}