body {
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.login {
    background-color: #181420;
    width:355px;
    height:320px;
    
    border-radius: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}   