
body {
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login {
    position: absolute;
    width: 450px;
    height: 374px;
    left: 122px;
    top: 88px;

    background: #075779;
    border-radius: 10px;

}

.usuario{
    width: 284px;
    height: 44px;
    background: #FFFDFD;
    border-radius: 20px;
    font-family: 'Akaya Kanadaka';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.senha{
    width: 284px;
    height: 44px;
    background: #FFFDFD;
    border-radius: 20px;
    font-family: 'Akaya Kanadaka';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 40px;
}

h1{
    width: 106px;
    height: 48px;
    font-family: 'Akaya Kanadaka';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

button{
    width: 123px;
    height: 37px;
    background: #1397CF;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 70px;
}

.erro{
    visibility: hidden;
}




